@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div>
            <h1 class="page-header">Dashboard</h1>

            @Html.Partial("MessagesPartial")

            <div class="row">
                <div class="col-md-4 block">
                    <a class="btn circle btn-primary" asp-controller="Dashboard" asp-action="Shutdown"><p>Shutdown</p></a>
                </div>
                <div class="col-md-4 block">
                    <a class="btn circle btn-primary" asp-controller="Dashboard" asp-action="Restart"><p>Restart</p></a>
                </div>
                <div class="col-md-4 block">
                    <div id="kp-div" class="btn circle btn-primary">
                        @*<a asp-controller="Dashboard" asp-action="KillProcess" asp-route-id="lxterminal">*@<div><p>Kill Process</p></div>@*</a>*@
                        <div><select id="kp-select" asp-items="@ViewBag.KillProcessSelectList" class="form-control"></select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#kp-div').click(function (e) {
            if ($(e.target).is('#kp-select')) {
                return;
            }
            window.location.href = '@Url.Action("KillProcess", "Dashboard")/' + $('#kp-select').find(':selected').text();;
        });
    });
</script>