@using SSHConnectCore.Models.Dashboard;
@model MessageViewModel

@{
    if (!string.IsNullOrEmpty(Model.Status?.ToString() ?? ""))
    {
        switch (Model.Status.ToString())
        {
            case "Success":
                <div class="alert alert-success">
                    <strong>Success!</strong> @(Model.Details?.ToString() ?? "")
                </div>
                break;
            case "Error":
                <div class="alert alert-danger">
                    <strong>Error!</strong> @(Model.Details?.ToString() ?? "")
                </div>
                break;
        }
    }
}