@using SSHConnectCore.Models.BackupDetails
@model SearchViewModel
@{
    ViewData["Title"] = "Backup";
}

<div class="container-fluid">

    <h1 class="page-header">Backup</h1>

    <div id="messages-div">@Html.Partial("MessagesPartial", Model.MessageViewModel)</div>

    <div id="search-div" class="table-responsive">
        @Html.Partial("SearchPartial", Model.BackupDetails)
    </div>
</div>>