@using SSHConnectCore.Models.BackupDetails;
@{
    ViewData["Title"] = "Backup";
}

<div class="container-fluid">

    <h1 class="page-header">Backup</h1>

    <div id="messages-div">@Html.Partial("MessagesPartial")</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var backupDetail in (List<BackupDetail>)ViewBag.backupDetails)
                {
                    <tr>
                        <td>@backupDetail.Type</td>
                        <td>@backupDetail.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>